<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/css/main.css" />
    <title>Duc Pham Website</title>
</head>
<body>
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class="alt">
            <h1><a href="/">Duc Pham</a></h1>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>

        <!-- Menu -->
            <nav id="menu">
                <div class="inner">
                    <h2>Menu</h2>
                    <ul class="links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/projects/">Projects</a></li>
                        <li><a href="/resume/">Resume</a></li>
                    </ul>
                    <a href="#" class="close">Close</a>
                </div>
            </nav>
            <section id = "wrapper">
                <div class = 'inner container text-center margin-lg'>
                    <iframe  src="/static/resumeFolder/duc_pham_resume.pdf#page=1&view=FitH&zoom=75" frameborder="0" width = "800" height = "1050" ></iframe>
                </div>
            </section>
    </div>
    		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>
			<script src="https://kit.fontawesome.com/3af7a98fd2.js" crossorigin="anonymous"></script>
    </body>
</html>